body {
  color: white;
  font-family: helvetica;
  font-size: 18px;
}

/*Header*/

.header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 3.12rem;
}

.header .container {
  align-items: center;
  display: flex;
  width: 960px;
}

.logo {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.header .container span {
  margin: 0.66rem 0;
}

/*Main Banner*/

.main-banner {
  align-items: center;
  background: url("../images/moto.jpeg") center right no-repeat;
  background-size: cover;
  display: flex;
  height: 25rem;
  justify-content: center;
}

.main-banner .container {
  align-items: center;
  display: flex;
  margin-top: 9rem;
  width: 960px;
}

.headline {
  background-color: black;
  font-weight: bold;
  padding: 2.5rem 3.5rem;
  width: 20rem;
}

.headline h1 {
  font-size: 2rem;
  padding-top: 0.5rem;
}

/*Navigation bar*/

nav {
  background-color: firebrick;
}

nav .container {
  background-color: firebrick;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  max-width: 960px;
  margin: 0 auto;
}

.mobile-nav {
  visibility: hidden;
  color: yellow;
}
